# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# vscode
.vscode

# resources
notebooks/resources/*
!notebooks/resources/.gitkeep